@using HomeHive.Domain.Common.EntitiesUtils.Estates
<EditForm Model="@estateModel" OnValidSubmit="@HandleValidSubmit" FormName="addEstateForm">
    <div class="row">
        <div class="col-md-6">
            <div class="mb-3">
                    <label for="estateType" class="form-label">Estate Type</label>
                    <InputSelect class="form-control" id="estateType" @bind-Value="estateModel.EstateType">
                        @foreach (var type in Enum.GetValues<EstateType>())
                        {
                            <option value="@type">@type</option>
                        }
                    </InputSelect>
                </div>
            <div class="mb-3">
                <label for="estateCategory" class="form-label">Estate Category</label>
                <InputSelect class="form-control" id="estateCategory" @bind-Value="estateModel.EstateCategory">
                    @foreach (var category in Enum.GetValues<EstateCategory>())
                    {
                        <option value="@category">@category</option>
                    }
                </InputSelect>
            </div>
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <InputText class="form-control" id="name" @bind-Value="estateModel.Name"/>
            </div>
            <div class="mb-3">
                <label for="location" class="form-label">Location</label>
                <InputText class="form-control" id="location" @bind-Value="estateModel.Location"/>
            </div>
            <div class="mb-3">
                <label for="price" class="form-label">Price</label>
                <InputText class="form-control" id="price" @bind-Value="estateModel.PriceString"/>
            </div>
            
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="totalArea" class="form-label">Total Area</label>
                <InputText class="form-control" id="totalArea" @bind-Value="estateModel.TotalArea"/>
            </div>
            <div class="mb-3">
                <label for="utilities" class="form-label">Utilities</label>
                <InputText class="form-control" id="utilities" @bind-Value="estateModel.Utilities"/>
            </div>
            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <InputText class="form-control" id="description" @bind-Value="estateModel.Description"/>
            </div>
            <div class="mb-3">
                <label for="image" class="form-label">Image</label>
                <InputFile class="form-control" id="image" @bind-Value="estateModel.Image"/>
            </div>
            <button type="submit" class="btn btn-primary">Add Estate</button>
        </div>
    </div>
</EditForm>

@code {
    private EstateModel estateModel = new EstateModel();

    public class EstateModel
    {
        public string OwnerIdString { get; set; }
        public Guid OwnerId => Guid.Parse(OwnerIdString);
        public string EstateType { get; set; }
        public string EstateCategory { get; set; }
        public string Name { get; set; }
        public string Location { get; set; }
        public string PriceString { get; set; }
        public decimal Price => decimal.Parse(PriceString);
        public string TotalArea { get; set; }
        public string Utilities { get; set; }
        public string Description { get; set; }
        public string Image { get; set; }
    }

    private void HandleValidSubmit()
    {
        throw new NotImplementedException();
    }
}
