@inject NavigationManager NavigationManager

<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    @if (context.User.Identity is { IsAuthenticated: false })
                    {
                        NavigationManager.NavigateTo("/login");
                    }
                    else
                    {
                        <p>Sorry, you are not authorized to access this resource.</p>
                    }
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1"/>
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <div class="fw-bold d-flex justify-content-center align-items-center min-vh-100">
                    <div class="column">
                        <h1 class="display-1 fw-bold ls-tight" style="color: #F0A500">
                            404 error!
                        </h1>
                        <span style="color: #1A1C20; font-size: 20px;">Sorry, there's nothing at this address.</span>
                    </div>
                </div>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>