@page "/getallestates"

@using HomeHive.Application.Features.Estates.Queries


<h1 class="about-title pad-fields">Estates List</h1>

@if (_estates != null && _estates.Any())
{
    <div class="container">
        @foreach (var estate in _estates)
        {
            <div class="card single-about-items spaced-card">
                <div class="items-content">
                    <h2 class="items-title">@estate.Name</h2>
                    <p class="text pad-fields bold-field">OwnerId: @estate.OwnerId</p>
                    <p class="text pad-fields bold-field">Description: @estate.Description</p>
                    <p class="text pad-fields bold-field">Estate Category: @estate.EstateCategory</p>
                    <p class="text pad-fields bold-field">Estate Type: @estate.EstateType</p>
                    <p class="text pad-fields bold-field">Image: @estate.Image</p>
                    <p class="text pad-fields bold-field">Location: @estate.Location</p>
                    <p class="text pad-fields bold-field">Price: @estate.Price</p>
                    <p class="text pad-fields bold-field">Utilities: @estate.Utilities</p>
                    <p class="text pad-fields bold-field">Total Area: @estate.TotalArea</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="validation-message">No estates available.</p>
}

@code {
    private readonly List<EstateDto>? _estates = new()
    {
        new() {Description = "Test", EstateCategory = "Rent", EstateType = "House", Image="ais8d8sa7c8as8f8a", Location = "Iasi", Name = "TestName", OwnerId = Guid.NewGuid(), Price = 20, Utilities = "Parking", TotalArea = "44m2"},
        new() {Description = "Second", EstateCategory = "Sale", EstateType = "Apartment", Image="as8da98sd9asd", Location = "Bacau", Name = "CopouResidence", OwnerId = Guid.NewGuid(), Price = 40, Utilities = "Parking", TotalArea = "120m2"}
        
    };

}