@page "/getallcontracts"

@using HomeHive.Application.Features.Contracts.Queries


<h1 class="about-title pad-fields">Contracts List</h1>

@if (_contracts != null && _contracts.Any())
{
    <div class="container">
        @foreach (var contract in _contracts)
        {
            <div class="card single-about-items spaced-card">
                <div class="items-content">
                    <h2 class="items-title">Contract with ID '@contract.EstateId'</h2>
                    <p class="text pad-fields bold-field">UserId: @contract.UserId</p>
                    <p class="text pad-fields bold-field">Description: @contract.Description</p>
                    <p class="text pad-fields bold-field">ContractType: @contract.ContractType</p>
                    <p class="text pad-fields bold-field">StartDate: @contract.StartDate</p>
                    <p class="text pad-fields bold-field">EndDate: @contract.EndDate</p>
                </div>
            </div>
        }
    </div>
}
else
{
    <p class="validation-message">No contracts available.</p>
}

@code {
    private readonly List<ContractDto>? _contracts = new()
    {
       new(){EstateId = Guid.NewGuid(), UserId = Guid.NewGuid(), Description = "Contract 1", ContractType = "Type 1", StartDate = DateTime.Now, EndDate = DateTime.Now.AddDays(30)},
        new(){EstateId = Guid.NewGuid(), UserId = Guid.NewGuid(), Description = "Contract 2", ContractType = "Type 2", StartDate = DateTime.Now, EndDate = DateTime.Now.AddDays(15)}
       
    };

}