@page "/addEstate"
@using HomeHive.UI.ViewModels

<PageTitle>Add Estate</PageTitle>

<div class="add-form">

    <h3 class="d-flex justify-content-center form-title">Add New Estate</h3>
    <div class="form-estate">
        <EditForm Model="@_estateViewModel" OnValidSubmit="HandleValidSubmit">
            <DataAnnotationsValidator/>

            <div class="form-group">
                <label for="estateType" class="form-label">Estate Type:</label>
                <InputText id="estateType" @bind-Value="_estateViewModel.EstateType"/>
                <ValidationMessage For="@(() => _estateViewModel.EstateType)"/>
            </div>

            <div class="form-group">
                <label for="estateCategory" class="form-label">Estate Category:</label>
                <select id="estateCategory" @bind="_estateViewModel.EstateCategory">
                    <option value="House">House</option>
                    <option value="Apartment">Apartment</option>
                    <option value="Villa">Villa</option>
                    <option value="Cottage">Cottage</option>
                    <option value="Farmhouse">Farmhouse</option>
                    <option value="Bungalow">Bungalow</option>
                    <option value="Townhouse">Townhouse</option>
                    <option value="Penthouse">Penthouse</option>
                    <option value="Studio">Studio</option>
                    <option value="Duplex">Duplex</option>
                    <option value="Flat">Flat</option>
                </select>
                <ValidationMessage For="@(() => _estateViewModel.EstateCategory)"/>
            </div>

            <div class="form-group">
                <label for="name" class="form-label">Name:</label>
                <InputText id="name" @bind-Value="_estateViewModel.Name"/>
                <ValidationMessage For="@(() => _estateViewModel.Name)"/>
            </div>

            <div class="form-group">
                <label for="location" class="form-label">Location:</label>
                <InputText id="location" @bind-Value="_estateViewModel.Location"/>
                <ValidationMessage For="@(() => _estateViewModel.Location)"/>
            </div>

            <div class="form-group">
                <label for="price" class="form-label">Price:</label>
                <InputNumber id="price" @bind-Value="_estateViewModel.Price" step="0.01"/>
                <ValidationMessage For="@(() => _estateViewModel.Price)"/>
            </div>

            <div class="form-group">
                <label for="totalArea" class="form-label">Total Area:</label>
                <InputText id="totalArea" @bind-Value="_estateViewModel.TotalArea"/>
                <ValidationMessage For="@(() => _estateViewModel.TotalArea)"/>
            </div>

            <div class="form-group">
                <label for="utilities" class="form-label">Utilities:</label>
                <InputText id="utilities" @bind-Value="_estateViewModel.Utilities"/>
                <ValidationMessage For="@(() => _estateViewModel.Utilities)"/>
            </div>

            <div class="form-group">
                <label for="description" class="form-label">Description:</label>
                <InputText id="description" @bind-Value="_estateViewModel.Description"/>
                <ValidationMessage For="@(() => _estateViewModel.Description)"/>
            </div>

            <div class="form-group">
                <label for="image" class="form-label">Image:</label>
                <InputText id="image" @bind-Value="_estateViewModel.Image"/>
                <ValidationMessage For="@(() => _estateViewModel.Image)"/>
            </div>

            <div class="d-flex justify-content-center mb-4">
                <button type="submit" class="btn btn-primary btn-lg">
                    Add Estate
                </button>
            </div>
        </EditForm>
    </div>
</div>

@code {
    private readonly EstateViewModel _estateViewModel = new();

    private void HandleValidSubmit()
    {
        Console.WriteLine("Submitted Estate Data:");
        Console.WriteLine($"Estate Type: {_estateViewModel.EstateType}");
        Console.WriteLine($"Estate Category: {_estateViewModel.EstateCategory}");
        Console.WriteLine($"Name: {_estateViewModel.Name}");
        Console.WriteLine($"Location: {_estateViewModel.Location}");
        Console.WriteLine($"Price: {_estateViewModel.Price}");
        Console.WriteLine($"Total Area: {_estateViewModel.TotalArea}");
        Console.WriteLine($"Utilities: {_estateViewModel.Utilities}");
        Console.WriteLine($"Description: {_estateViewModel.Description}");
        Console.WriteLine($"Image: {_estateViewModel.Image}");
    }

}