@* <div class="card col-md-3 m-3"> *@
@*     <div style=" *@
@*                 width: 100%; *@
@*                 height: 200px; *@
@*                 background-image: url('background1.jpg'); *@
@*                 background-size: cover; *@
@*                 background-position: center; *@
@*                 background-repeat: no-repeat;" *@
@*                 class="card-img-top mt-2 rounded"> *@
@*             </div> *@
@*     <div class="card-body"> *@
@*         <h5 class="card-title">Property #</h5> *@
@*         <p class="card-text">For Rent</p> *@
@*         <div class="d-flex justify-content-start align-items-center"> *@
@*             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16"> *@
@*                 <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/> *@
@*                 <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/> *@
@*             </svg> *@
@*             <span class="ms-2 d-inline" style="font-weight:bold">Location:</span> *@
@*             New York, USA *@
@*         </div> *@
@*         <div class="d-flex justify-content-start align-items-center"> *@
@*             <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16"> *@
@*               <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/> *@
@*               <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/> *@
@*             </svg> *@
@*             <span class="ms-2 d-inline" style="font-weight:bold">Price:</span> *@
@*             100$/night *@
@*         </div> *@
@*          *@
@*         $1$ <p class="card-text"><span style="font-weight: bold">Description:</span>A very nice home</p> #1# *@
@*         <div class="mt-2 d-flex justify-content-center"> *@
@*             <NavLink href="viewEstate" class="btn btn-primary">See Details</NavLink> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@using HomeHive.UI.ViewModels.Estates
@inject NavigationManager NavigationManager

@if (Estate != null)
{
    <div class="card col-md-3 m-md-3 mb-2">
        <div style="
            width: 100%;
            height: 200px;
            background-image: url('@Estate!.EstateAvatar');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;"
            class="card-img-top mt-2 rounded">
        </div>
        <div class="card-body">
            <h5 class=" fs-3 card-title">@Estate!.Name</h5>
            <small>@Estate.Description</small>
            <div class="row">
                <div class="d-flex justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag-heart" viewBox="0 0 16 16">
                      <path fill-rule="evenodd" d="M10.5 3.5a2.5 2.5 0 0 0-5 0V4h5zm1 0V4H15v10a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V4h3.5v-.5a3.5 3.5 0 1 1 7 0M14 14V5H2v9a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1M8 7.993c1.664-1.711 5.825 1.283 0 5.132-5.825-3.85-1.664-6.843 0-5.132"/>
                    </svg>
                    <span class="ms-2 d-inline" style="font-weight:bold">Type:</span>
                    @Estate.EstateCategory
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt" viewBox="0 0 16 16">
                        <path d="M12.166 8.94c-.524 1.062-1.234 2.12-1.96 3.07A32 32 0 0 1 8 14.58a32 32 0 0 1-2.206-2.57c-.726-.95-1.436-2.008-1.96-3.07C3.304 7.867 3 6.862 3 6a5 5 0 0 1 10 0c0 .862-.305 1.867-.834 2.94M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10"/>
                        <path d="M8 8a2 2 0 1 1 0-4 2 2 0 0 1 0 4m0 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6"/>
                    </svg>
                    <span class="ms-2 d-inline" style="font-weight:bold">Location:</span>
                    @Estate.Location
                </div>
                <div class="d-flex justify-content-start align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tags" viewBox="0 0 16 16">
                        <path d="M3 2v4.586l7 7L14.586 9l-7-7zM2 2a1 1 0 0 1 1-1h4.586a1 1 0 0 1 .707.293l7 7a1 1 0 0 1 0 1.414l-4.586 4.586a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 2 6.586z"/>
                        <path d="M5.5 5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1m0 1a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3M1 7.086a1 1 0 0 0 .293.707L8.75 15.25l-.043.043a1 1 0 0 1-1.414 0l-7-7A1 1 0 0 1 0 7.586V3a1 1 0 0 1 1-1z"/>
                    </svg>
                    <span class="ms-2 d-inline" style="font-weight:bold">Price:</span>
                    @Estate.Price
                </div>
            </div>
            <div class="mt-2 d-flex justify-content-center gap-1">
                <NavLink href="@_estateUrl" class="btn btn-primary">View estate</NavLink>
            </div>
        </div>
    </div>

}

@code {
    [Parameter] public EstateViewModel? Estate { get; set; }
    
    private string? _estateUrl;

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        _estateUrl = $"ViewEstate/{Estate!.Id}";
    }

    private void EditEstate()
    {
        NavigationManager.NavigateTo($"/edit-estate/{Estate!.Id}");
    }
}
